<main class="dm-sans-regular flex flex-col gap-7 p-4 pb-5">
  <nav class="flex justify-between container mx-auto p-2">
    <img src="assets/Logo.svg">
    <!--    // add dropdown-->
    <button class="flex gap-2 items-center bg-[var(--neutral-800)] rounded-md p-2">
      <img src="/assets/Units%20Icon.svg" alt="">
      Units
      <img src="/assets/Units%20Dropdown%20Icon.svg" alt="">
    </button>
  </nav>

  <!--  Hero -->
  <div class="container mx-auto">
    <h1
      class="bricolage-bold text-center text-5xl p-4"
    >How's the sky looking today?</h1>
  </div>

  <!--  Search section-->
  <div class="container mx-auto">
    <div class="flex justify-center gap-4">
      <div class="flex align-middle  bg-[var(--neutral-800)] rounded-md p-3 w-[500px] gap-4 relative">
        <img src="assets/Search%20Icon.svg">
        <input type="text"
               (input)="onType($event)"
               class="w-full bg-transparent outline-none text-white">
        <!-- show “Searching” only while actively searching -->
        @if (isSearching$| async) {
          <div class="bg-[var(--neutral-800)] rounded-md absolute top-15 left-0 w-full p-4">
            <div class="flex flex-row gap-2">
              <img src="/assets/Daily%20Forecast%20Title-2.svg" alt="searching">
                  <p>Searching…</p>
            </div>
          </div>
        }

  <!-- show results only when search is done and we have data -->
    @if (showResults$ |async) {
  <div class="bg-[var(--neutral-800)] rounded-md absolute top-15 left-0 w-full p-3">
    @for (city of cities$| async; track city.id) {
    <p class="text-white text-lg p-3 rounded-md cursor-pointer hover:bg-[var(--neutral-700)] active:bg-[var(--neutral-800)]"
      (click)="onSelect(city)">
      {{ city.name }}, {{ city.country }}
    </p>
    }
  </div>
  }

      </div>


    <button class="bg-[var(--blue-500)] w-[100px] rounded-md transition-ease

    hover:bg-[var(--blue-700)]">
      Search
    </button>

  </div>

  </div>
  <!--   the main Ui-->

  <div class="container mx-auto ">
    <div class="grid grid-cols-3 gap-6">
      <div class="col-span-3 lg:col-span-2 ">
        <div class="flex flex-col gap-6">
          <div class="weather-img rounded-3xl p-5 flex justify-between items-center">
            <div class="flex flex-col gap-1.5">
              <p class="text-3xl dm-sans-semibold">Berlin, Germany</p>
              <p class="text-lg dm-sans-medium text-[var(--neutral-200)]"> Tuesday Aug5, 2025</p>
            </div>

            <div class="flex flex-row gap-5 justify-center items-center">
              <img width="160" height="160" src="/assets/Clear-sunny.svg">
              <p class="dm-sans-semibold text-8xl italic">68°</p>
            </div>
          </div>
          <!--          Short card-->
          <div class="grid gap-6 grid-cols-3 md:grid-cols-4">

            <div class="flex flex-col text-start p-4 bg-[var(--neutral-800)] rounded-md gap-4">
              <p class="text-lg dm-sans-regular text-[var(--neutral-200)]">Feels Like</p>
              <p class="text-3xl dm-sans-light">64°</p>
            </div>

            <div class="flex flex-col text-start p-4 bg-[var(--neutral-800)] rounded-md gap-4">

              <p class="text-lg dm-sans-regular text-[var(--neutral-200)]">Humidity</p>
              <p class="text-3xl dm-sans-light">46%°</p>
            </div>

            <div class="flex flex-col text-start p-4 bg-[var(--neutral-800)] rounded-md gap-4">
              <p class="text-lg dm-sans-regular text-[var(--neutral-200)]">Wind 14km/h</p>
              <p class="text-3xl dm-sans-light">64°</p>
            </div>

            <div class="flex flex-col text-start p-4 bg-[var(--neutral-800)] rounded-md gap-4">

              <p class="text-lg dm-sans-regular text-[var(--neutral-200)]">Precipitation</p>
              <p class="text-3xl dm-sans-light">0 mm</p>
            </div>


          </div>

          <div class="flex flex-col gap-6 mt-4">
            <p class="dm-sans-semibold text-white text-xl">Daily forecast</p>
            <div class="grid grid-cols-4 md:grid-cols-5 lg:grid-cols-7 gap-4 justify-between items-center ">
              <div class="flex flex-col text-center p-4 bg-[var(--neutral-800)] rounded-md gap-4 w-full min-w-[100px]">
                <p class="text-lg dm-sans-regular text-[var(--neutral-200)]">Tue</p>
                <img src="/assets/Rain.svg">
                <div class="flex flex-row justify-between gap-2">
                  <p class="text-lg dm-sans-medium">64°</p>
                  <p class="text-lg dm-sans-medium">57°</p>

                </div>
              </div>
              <div class="flex flex-col text-center p-4 bg-[var(--neutral-800)] rounded-md gap-4 w-full min-w-[100px]">
                <p class="text-lg dm-sans-regular text-[var(--neutral-200)]">Tue</p>
                <img src="/assets/Rain.svg">
                <div class="flex flex-row justify-between gap-2">
                  <p class="text-lg dm-sans-medium">64°</p>
                  <p class="text-lg dm-sans-medium">57°</p>

                </div>
              </div>
              <div class="flex flex-col text-center p-4 bg-[var(--neutral-800)] rounded-md gap-4 w-full min-w-[100px]">
                <p class="text-lg dm-sans-regular text-[var(--neutral-200)]">Tue</p>
                <img src="/assets/Rain.svg">
                <div class="flex flex-row justify-between gap-2">
                  <p class="text-lg dm-sans-medium">64°</p>
                  <p class="text-lg dm-sans-medium">57°</p>

                </div>
              </div>
              <div class="flex flex-col text-center p-4 bg-[var(--neutral-800)] rounded-md gap-4 w-full min-w-[100px]">
                <p class="text-lg dm-sans-regular text-[var(--neutral-200)]">Tue</p>
                <img src="/assets/Rain.svg">
                <div class="flex flex-row justify-between gap-2">
                  <p class="text-lg dm-sans-medium">64°</p>
                  <p class="text-lg dm-sans-medium">57°</p>

                </div>
              </div>
              <div class="flex flex-col text-center p-4 bg-[var(--neutral-800)] rounded-md gap-4 w-full min-w-[100px]">
                <p class="text-lg dm-sans-regular text-[var(--neutral-200)]">Tue</p>
                <img src="/assets/Rain.svg">
                <div class="flex flex-row justify-between gap-2">
                  <p class="text-lg dm-sans-medium">64°</p>
                  <p class="text-lg dm-sans-medium">57°</p>

                </div>
              </div>
              <div class="flex flex-col text-center p-4 bg-[var(--neutral-800)] rounded-md gap-4 w-full min-w-[100px]">
                <p class="text-lg dm-sans-regular text-[var(--neutral-200)]">Tue</p>
                <img src="/assets/Rain.svg">
                <div class="flex flex-row justify-between gap-2">
                  <p class="text-lg dm-sans-medium">64°</p>
                  <p class="text-lg dm-sans-medium">57°</p>

                </div>
              </div>
              <div class="flex flex-col text-center p-4 bg-[var(--neutral-800)] rounded-md gap-4 w-full min-w-[100px]">
                <p class="text-lg dm-sans-regular text-[var(--neutral-200)]">Tue</p>
                <img src="/assets/Rain.svg">
                <div class="flex flex-row justify-between gap-2">
                  <p class="text-lg dm-sans-medium">64°</p>
                  <p class="text-lg dm-sans-medium">57°</p>

                </div>
              </div>

            </div>

          </div>
        </div>

      </div>


      <div class="col-span-3 lg:col-span-1 bg-[var(--neutral-800)] rounded-md p-6">
        <div class="flex flex-row justify-between items-center">
          <p class="dm-sans-semibold text-white text-lg">Hourly forecast</p>

          <select class="bg-[var(--neutral-600)] rounded-md px-2 py-1 text-start">
            <option value="tuesday">Tuesday</option>
          </select>

        </div>

        <div class="flex flex-col gap-4 mt-5">
          <div class="flex flex-row justify-between items-center bg-[var(--neutral-700)] rounded-md p-1">
            <div class="flex flx-row gap-1 justify-center items-center">
              <img src="/assets/Drizzle.svg" alt="" height="58" width="58">
              <p class="dm-sans-regular text-lg">3 PM</p>
            </div>
            <p class="dm-sans-regular  mr-2">64°</p>

          </div>
          <div class="flex flex-row justify-between items-center bg-[var(--neutral-700)] rounded-md p-1">
            <div class="flex flx-row gap-1 justify-center items-center">
              <img src="/assets/Drizzle.svg" alt="" height="58" width="58">
              <p class="dm-sans-regular text-lg">3 PM</p>
            </div>
            <p class="dm-sans-regular  mr-2">64°</p>

          </div>
          <div class="flex flex-row justify-between items-center bg-[var(--neutral-700)] rounded-md p-1">
            <div class="flex flx-row gap-1 justify-center items-center">
              <img src="/assets/Drizzle.svg" alt="" height="58" width="58">
              <p class="dm-sans-regular text-lg">3 PM</p>
            </div>
            <p class="dm-sans-regular  mr-2">64°</p>

          </div>
          <div class="flex flex-row justify-between items-center bg-[var(--neutral-700)] rounded-md p-1">
            <div class="flex flx-row gap-1 justify-center items-center">
              <img src="/assets/Drizzle.svg" alt="" height="58" width="58">
              <p class="dm-sans-regular text-lg">3 PM</p>
            </div>
            <p class="dm-sans-regular  mr-2">64°</p>

          </div>
          <div class="flex flex-row justify-between items-center bg-[var(--neutral-700)] rounded-md p-1">
            <div class="flex flx-row gap-1 justify-center items-center">
              <img src="/assets/Drizzle.svg" alt="" height="58" width="58">
              <p class="dm-sans-regular text-lg">3 PM</p>
            </div>
            <p class="dm-sans-regular  mr-2">64°</p>

          </div>
          <div class="flex flex-row justify-between items-center bg-[var(--neutral-700)] rounded-md p-1">
            <div class="flex flx-row gap-1 justify-center items-center">
              <img src="/assets/Drizzle.svg" alt="" height="58" width="58">
              <p class="dm-sans-regular text-lg">3 PM</p>
            </div>
            <p class="dm-sans-regular  mr-2">64°</p>

          </div>
          <div class="flex flex-row justify-between items-center bg-[var(--neutral-700)] rounded-md p-1">
            <div class="flex flx-row gap-1 justify-center items-center">
              <img src="/assets/Drizzle.svg" alt="" height="58" width="58">
              <p class="dm-sans-regular text-lg">3 PM</p>
            </div>
            <p class="dm-sans-regular  mr-2">64°</p>

          </div>
          <div class="flex flex-row justify-between items-center bg-[var(--neutral-700)] rounded-md p-1">
            <div class="flex flx-row gap-1 justify-center items-center">
              <img src="/assets/Drizzle.svg" alt="" height="58" width="58">
              <p class="dm-sans-regular text-lg">3 PM</p>
            </div>
            <p class="dm-sans-regular  mr-2">64°</p>

          </div>

        </div>

      </div>

    </div>

  </div>
</main>
